
@{
    ViewBag.Title = "sy";
    Layout = "~/Views/mubanye/ym.cshtml";
}

<style type="text/css">

    .logo {
        width: 100%;
        text-align: center;
        height: 100px;
        font-size: 60px;
        margin-top: 30px;
        color: #2A8FCD;
        font-weight: bold;
    }

    #home {
        margin: auto;
        position: initial;
    }
        
    .wrapper .item {
        margin-top: 10px;
        padding-left: 25px;
    }

    .item .btn-primary {
        width: 228px;
    }
</style>
<div class="logo">
    
        欢迎进入仓储管理系统
    
</div>

