
@{
    ViewBag.Title = "zhuye";
    Layout = "~/Views/mubanye/ym.cshtml";
}


<body  style="background-color:darkgray">
    <div>
        <h1 style="text-align:center">欢迎来到大运仓储管理系统</h1>
    </div>
    </body>
